* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 70px;
}
.header_bottom img {
  height: 100%;
  padding: 10px 0;
}
.header_bottom li {
  list-style-type: none;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.header_bottom li a {
  text-decoration: none;
  color: rgb(70, 70, 70);
  font-weight: bold;
  font-size: 0.8rem;
}
.header_bottom li a:hover {
  color: #0282f9;
}
.header_bottom ul {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}
.header_bottom div {
  height: 100%;
  display: flex;
  align-items: center;
}
.header_bottom .active {
  border-bottom: 5px solid rgb(77, 148, 255);
}
.header_bottom .active a {
  color: rgb(77, 148, 255);
}

.jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
.jumbotron p {
  display: flex;
  align-items: center;
  background-color: #0282f9;
  height: 4rem;
  padding: 0 40px;
  position: absolute;
  bottom: -2rem;
  left: 10%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 10%;
  background-color: #1c1c1c;
}

.load-more {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.load-more p {
  background-color: #0282f9;
  padding: 10px 50px;
  color: white;
  font-weight: bold;
}

.card {
  width: 16.6666666667%;
  padding: 50px 10px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 20px;
  font-weight: bold;
}

.menu {
  padding: 50px 10%;
  background-color: #0282f9;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu ul li {
  display: flex;
  align-items: center;
}
.menu ul li img {
  height: 80px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-weight: lighter;
  font-size: 0.8rem;
}
.menu ul li a:hover {
  color: black;
}

footer .container1 {
  display: flex;
  background-image: url("../images/footer-bg.jpg");
}
footer .container2 {
  display: flex;
  padding: 50px 10%;
}
footer .container2 ul {
  list-style-type: none;
}
footer .container2 h3 {
  color: white;
  padding: 15px 0;
}
footer .container2 a {
  text-decoration: none;
  color: rgb(189, 189, 189);
}
footer .container2 a:hover {
  color: #0282f9;
}
footer .container3 {
  margin-left: 50px;
}
footer .logo_background {
  flex-grow: 1;
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
}

.social_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #303030;
}
.social_container h3 {
  border: #0282f9 2px solid;
  color: white;
  padding: 10px;
}

.container2 {
  display: flex;
  align-items: center;
}
.container2 img {
  padding: 0 5px;
}
.container2 h4 {
  padding: 0 10px;
  color: #0282f9;
}